
/*Main*/
.Main{
    width: 100%;
}

.Main_apresentacao{
    height: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-color: var(--color-third);
}

.Main_apresentacao_elementos{
    width: 75%;
    margin: 0 auto;
}

.Main_apresentacao_elementos > h2{
    font-size: 30px;
    color: var(--color-text_first);
    font-family: var(--font-second);
    font-weight: 100;
}
.Main_apresentacao_elementos > h1{
    font-size: 50px;
    color: var(--color-text_second);
    font-family: var(--font-first);
    font-weight: bolder;
}

.Main_apresentacao_elementos > p{
    font-size: 20px;
    color: rgba(255, 255, 255, 0.494);
    font-family: var(--font-second);
    margin: 0 10%;
    
}

/*Section 2*/
.section2{
    display: flex;
    height: 100vh;
    background-color: var(--color-first);
}

.section2_elementos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.section2_elementos_titulo{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    color: var(--color-text_first); 
    padding: 25px;
}

h1{
    font-family: var(--font-first);
    font-size: 40px;
}

.section2_elementos_titulo h2{
    font-size: 30px;
    font-weight: bolder;
    color: var(--color-text_second);
}

.section2_elementos_titulo p{
    font-size: 16px;
    font-weight: bold;
    text-align: justify;
}

.section2_figure > img{
    width: auto;
    height: auto;
    margin-top: 25px;
    border: 1px solid var(--color-text_second);
    border-radius: 20px;
    max-width: 500px;
    height: 400px;
}

.section2_figure > img:hover{
    transition: 1.0s;
    opacity: 50%;
}

/*Section 3*/

.section3{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--color-third);
    color: var(--color-text_first);
}
.section3_elementos{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 50%;
}
.section3_elementos_titulo{
    padding: 10px;
}

.section3_elementos_titulo p{
    color: var(--color-text_first);
    font-size: 14px;
    padding: 10px 0px;
    color: rgba(255, 255, 255, 0.494);
    font-family: var(--font-second);
}

@media (max-width: 768px) {
    /*Main*/
    .Main_apresentacao{
        height: 85vh;
    }
    .Main_apresentacao_elementos{
        width: 90%;
    }

    .Main_apresentacao_elementos > h2{
        font-size: 20px;
    
    }
    .Main_apresentacao_elementos > h1{
        font-size: 35px;
    }

    .Main_apresentacao_elementos > p{
        font-size: 14px;
    }

    /*Section 2*/

    .section2_elementos{
        flex-direction: column;
    }

    .section2_figure > img{
        width: 200px;
        height: 200px;
    }

    .section2_elementos{
        text-align: center;
    }

    .section2_elementos_titulo{
        gap: 10px;
        width: 90%;
    }

    .section2_elementos_titulo h1{
        font-size: 30px;
    }
    .section2_elementos_titulo h2{
        font-size: 20px;
    }
    .section2_elementos_titulo p{
        font-size: 14px;
        text-align: center;
    
    }
}